<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<body style="background-image: url('/static/apollo/JLSS_BG_Aboutus.png'); background-size: 1700px 1200px; background-position: top; height: 100%;">

<script src="//cdn.ckeditor.com/4.16.1/basic/ckeditor.js"></script>
<!-- beginning of carousel -->
<br><h1 align = "center" class = "text-white">About Us<br></h1><br><br>
<style>
    h3 {
        text-align: center;
        font-size: 25px;
        color: rgb(128, 0, 70);
    }
    p{
        font-size: 25px;
    }
    .mytext{
        margin: auto;
  width: 70%;
  padding: 10px;
      }
    </style>
<div class="mytext text-center">
<span class="badge rounded-pill bg-light text-dark"><h3 class="display-4" style = "font-family: 'Times New Roman'; font-size: 45px"><strong> Company Mission </strong></h3></span>
<p class="text-center text-white" style = "font-family: 'Cormorant'">Together we will evolve healthcare through innovation, compassion and partnerships.
</p>
<br>

<span class="badge rounded-pill bg-light text-dark"><h3 class="display-4" style = "font-family: 'Times New Roman'; font-size: 45px"><strong>Company Vision</strong></h3></span>
<p class="text-center text-white" style = "font-family: 'Cormorant'">With our collective expertise, we strive to be the best in patient experience and outcomes, instilling confidence within our community and empowerment among our employees.
</p>
<br>

<span class="badge rounded-pill bg-light text-dark"><h3 class="display-4" style = "font-family: 'Times New Roman'; font-size: 45px" ><strong>JLSS Hospital</strong></h3></span>
<p class="text-center text-white" style = "font-family: 'Cormorant'">JLSS has emerged as Asia’s foremost integrated healthcare services provider and has a robust
     presence across the healthcare ecosystem, including Hospitals, Pharmacies, Primary Care & Diagnostic Clinics and
     several retail health models. The Group also has Telemedicine facilities across several countries, Health Insurance Services,
     Global Projects Consultancy, Medical Colleges, Medvarsity for E-Learning, Colleges of Nursing and Hospital Management and a
      Research Foundation.
</p>
<p class="text-center text-white" style = "font-family: 'Cormorant'">
    The cornerstones of JLSS’s legacy are its unstinting focus on clinical excellence, affordable costs, modern technology and
    forward-looking research & academics. JLSS Hospitals was among the first few hospitals in the world to leverage technology
    to facilitate seamless healthcare delivery. The organization embraced the rapid advancement in medical equipment across the
    world, and pioneered the introduction of several cutting edge innovations in India.
</p>

<p class="text-center text-white" style = "font-family: 'Cormorant'">
    As a responsible corporate citizen, JLSS Hospitals takes the spirit of leadership well beyond business and has embraced the
     responsibility of keeping India healthy. Recognizing that Non Communicable Diseases (NCDs) are the greatest threat to the nation,
      JLSS Hospitals is continuously educating people about preventive healthcare as the key to wellness.In a rare honour, the Government
       of India had issued a commemorative stamp in recognition of JLSS’s widespread contributions, the first for a healthcare organization.
</p>
</div>
